.offer-form {
    box-align: center;
    min-width: 150px;
    max-width: 800px;
    width: 100%;
    align-self: center;
    align-content: center;
  }
  
  .offer-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }