<mat-sidenav-container >
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">HOME</span>
      </a>
      <a mat-list-item>
        <span class="label" [matMenuTriggerFor]="candidatesP">CANDIDATE</span>
        <mat-icon class="icon">arrow_drop_down</mat-icon>
        <mat-menu #candidatesP="matMenu">
          <a
            routerLink="candidate"
            mdbWavesEffect
            role="button"
            routerLinkActive="active"
            mat-list-item
            ><a mat-button>
              <mat-icon class="icon">fiber_new</mat-icon>
              <span class="label">ADD NEW</span>
            </a>
          </a>
          <a
            routerLink="candidate"
            mdbWavesEffect
            role="button"
            routerLinkActive="active"
            mat-list-item
            ><a mat-button>
              <mat-icon class="icon">format_list_bulleted</mat-icon>
              <span class="label">SHOW ALL</span>
            </a>
          </a>
        </mat-menu>
      </a>

      <a mat-list-item>
        <span class="label" [matMenuTriggerFor]="jobOfferP">JOB OFFERS</span>
        <mat-icon class="icon">arrow_drop_down</mat-icon>
        <mat-menu #jobOfferP="matMenu">
          <a
            routerLink="newjob"
            role="button"
            routerLinkActive="active"
            mat-list-item
            ><a mat-button>
              <mat-icon class="icon">fiber_new</mat-icon>
              <span class="label">ADD NEW</span>
            </a>
          </a>
          <a
            routerLink="joboffers"
            role="button"
            routerLinkActive="active"
            mat-list-item
            ><a mat-button>
              <mat-icon class="icon">format_list_bulleted</mat-icon>
              <span class="label">SHOW ALL</span>
            </a>
          </a>
        </mat-menu>
      </a>

      <a
        mat-button
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/matiej/"
      >
        <mat-icon class="icon"
          ><img src="/assets/linkedin-box.png" alt="jdd"
        /></mat-icon>
      </a>

      <a
        mat-button
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/Matiej"
      >
        <mat-icon class="icon"
          ><img src="/assets/github-circle.png" alt="jdd"
        /></mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class= "fixed-header" color="accent">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <span class="menu-spacer">
        <img width="30%" src="/assets/jdd.png" alt="jdd" />
      </span>
      <div fxShow="true" fxHide.xs>
        <ul fxLayout layout-align="start-center" class="navigation-items">
          <li routerLinkActive="active">
            <a
              routerLink="/"
              role="button"
              routerLinkActive="active"
              mat-button
            >
              <mat-icon class="icon">home</mat-icon>
              <span class="label">HOME</span>
            </a>
          </li>
          <li>
            <a role="button" routerLinkActive="active" mat-button routerLinkActive="active"> 
              <span class="label" [matMenuTriggerFor]="candidates"
                >CANDIDATE</span
              >
              <mat-icon class="icon">arrow_drop_down</mat-icon>
              <mat-menu #candidates="matMenu">
                <a
                  routerLink="candidate"
                  role="button"
                  routerLinkActive="active"
                  mat-list-item
                  ><a mat-button>
                    <mat-icon class="icon">fiber_new</mat-icon>
                    <span class="label">ADD NEW</span>
                  </a>
                </a>
                <a
                  routerLink="candidate"
                  role="button"
                  routerLinkActive="active"
                  mat-list-item
                  ><a mat-button>
                    <mat-icon class="icon">format_list_bulleted</mat-icon>
                    <span class="label">SHOW ALL</span>
                  </a>
                </a>
              </mat-menu>
            </a>
          </li>

          <span class="menu-spacer"></span>

          <li>
            <a routerLinkActive="active" role="button" mat-button>
              <span class="label" [matMenuTriggerFor]="offers">
                JOB OFFERS
              </span>
              <mat-icon class="icon">arrow_drop_down</mat-icon>
            </a>
            <mat-menu #offers="matMenu">
              <a
                routerLink="newjob"
                role="button"
                routerLinkActive="active"
                mat-list-item
                ><a mat-button>
                  <mat-icon class="icon">fiber_new</mat-icon>
                  <span class="label">ADD NEW</span>
                </a>
              </a>
              <a
                routerLink="joboffers"
                role="button"
                routerLinkActive="active"
                mat-list-item
                ><a mat-button>
                  <mat-icon class="icon">format_list_bulleted</mat-icon>
                  <span class="label">SHOW ALL</span>
                </a>
              </a>
            </mat-menu>
          </li>
          <li>
            <a
              mat-button
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.linkedin.com/in/matiej/"
            >
              <mat-icon class="icon"
                ><img src="/assets/linkedin.png" alt="linkedid"
              /></mat-icon>
            </a>
          </li>
          <li>
            <a
              mat-button
              target="_blank"
              rel="noopener noreferrer"
              href="https://github.com/Matiej"
            >
              <mat-icon class="icon"
                ><img src="/assets/github-box.png" alt="github"
              /></mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main style="position: relative; top: 65px; ">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
